
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poiret+One&family=Tilt+Neon&display=swap');
html {
    scroll-behavior: smooth;
  }

body {
    background-color: #110025;
    color:#9ca3af;
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

    .halo {
        position: fixed;
        width: 620px;  
        height: 620px;
        background: radial-gradient(circle, rgba(252, 249, 255, 0.1) 20%, rgba(0, 0, 0, 0) 80%);
        pointer-events: none; 
        border-radius: 50%;
        mix-blend-mode: screen;
        filter: blur(60px); 
        transition: transform 0.05s linear;
        transform: translate(-50%, -50%); 
    }

    #web-page-lay-out{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        min-height: 100vh;
    }

        #static-container{   
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: fixed;
            width: 40vw; 
            height: 100vh;
            padding-left: 5%;
        }

            h1 { 
                font-family: Monoton,"cursive";
                font-weight: lighter;
                color:white;
                animation: slideIn 1.5s ease-out;
                font-size: 4rem;
                margin-bottom: 0;
                padding-bottom: 0;
                margin-top: 50%;
            }
            
            #tagline{
                margin: 0;
                font-size: 1.4rem;
                font-weight: 600;
            }

            .nav-bar{
                display:flex;
                flex-direction: column;
                align-items: center;                
                margin: 40px 0 0 0; 
                            
                
            }

            .nav-bar a{
                margin: 4px;
                font-size: 1.3rem;
                font-weight: 500;
                transition: transform 0.3s ease;
                
            
            }
            .nav-bar a:hover {
                transform: scale(1.2);
                color:#9ca3af;
                font-weight: bolder;
               
                
            }

            .nav-bar a.active {
                transform: scale(1.2);
                color:aliceblue; 
                font-weight: bolder;
                
              }
        
            #connect{
                margin-top: auto; 
                margin-bottom: 10%;
            }

            a{
                text-decoration: none;
                color: rgb(104, 69, 145);
                
            }

            .social-icon {          
                color: #9ca3af;
                font-size: 25px;
                transition: transform 0.3s ease, box-shadow 0.3s ease;
            }

            .connect-icons{
                display: flex;
                gap: 10px;
            }

                        
            .connect-icons a:hover {
                transform: scale(1.2);
                color: aliceblue;    
            }




        #scroll-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;  
            width: 60vw;
            margin-left: 40vw;
        }

            #dayana-picture{
                width: 100%;
                height: auto;
                border-radius: 0 50% 50% 0;       
                padding-top: 30px;
                box-shadow: rgba(239, 236, 241, 0.313) 30px 50px 70px -40px;
                animation: floating 3s ease-in-out infinite;    
            }

            #profile-picture{
                margin: 10px 15%;
                align-items: center;
                justify-content: center;
            }

            #about-me{
                margin:15px;
                width: 70%;
                text-align:justify ;
            }
            
            #experience{
                width: 70%;
            }

            #experience-list{
                margin-left: 0;
            }
            
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
            }
            
            .one-experience{
                display: flex;
                flex-direction: column;
                transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
                padding: 10px;
                
            }

            .one-experience:hover{
                background: rgba(255, 255, 255, 0.05);  
                transform: scale(1.02); /* slightly zooms in */
                backdrop-filter: blur(8px); 
                -webkit-backdrop-filter: blur(8px);
                border-radius: 5px;
            }
            
            .experience-header{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: 0;
                margin: 0;
            }

            .experience-date{
                margin-left: 0;
                font-weight: 200;
                font-size: 1rem;
                width: 30%;
            }

            .experience-name{
                margin: 0;
                padding: 0;
                flex-grow: 1;
                font-size: 1.4rem;
                color: rgba(253, 244, 244, 0.868);
            }

            .experience-website{
                font-style: italic;
            }
        
            .experience-description{
                text-align: justify;
                padding: 0;
                margin-left: 30%;
                margin-top: 0;
                margin-bottom: 3px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3; 
                -webkit-box-orient: vertical;
                transition: all 0.3s ease;
            }

            .show-experience-btn:hover{
                color: rgb(115, 111, 64);
            }
                
                .experience-description.expanded {
                    -webkit-line-clamp: unset;
                    line-clamp: unset;
                }
            
            .show-experience-btn{
                background: none;
                border: none;
                color:rgb(60, 50, 62);
                cursor: pointer;
                font-weight: 500;
                padding: 0;
                margin: 0px;
                width: auto-fit;
                margin-left: 30%;
                text-align: start;
                transition: color 0.3s ease;

            }

            #skills{
                width: 80%;
                margin-top: 40px;
            }

            #skills h2{
                text-align: center;
            }

            .skills-container {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                margin-left:20px;
                gap: 20px;
                padding: 10px;
            }
            
            .skill-card {
                background-color: #f8f9fa0c;
                border: 1px solid #a457e32d;
                padding: 20px;
                border-radius: 8px;
                text-align: start;
                box-shadow: 0px 4px 6px rgba(5, 5, 5, 0.5);
            }

            .skill-card:hover{
                transform: scale(1.05);
                color: aliceblue;
            }
            
            .skill-card .icon {
                font-size: 50px;
                margin-bottom: 10px;
                color:rgba(177, 94, 255, 0.262);
                text-align: end;
            }
          
            .skill-card .skill-name {
                font-size: 1.5rem;
                margin-bottom: 10px;
                font-weight: 500;
            }
            
            .skill-card .items {
                list-style:circle;
                padding: 0;
                
            }
            
            .skill-card .items li {
                margin: 1px 0;
                font-weight: 200;
            }



            .content-footer{
                color: rgb(60, 56, 51);
                font-size: 1.2rem;
                margin-bottom: 10px;
            }

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 2;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}





            
@media (max-width: 1024px) {  /* Tablets and smaller devives */
    
    #web-page-lay-out{
        grid-template-columns: 1fr;
    }

    #static-container{   
        position: relative;
        width: 100%;
        height: auto;
        align-items: center;
        padding: 0;
    }

    #scroll-container{
        margin: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #name{
        margin-top: 10%;
        font-size: 3rem;
    }

    .nav-bar{
        display:none;
    }

    #experience{
        min-width: 500px;
    }

    #skills{
        width: 95%;
    }
    .skills-container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        margin: 0;
      
    }    

}

@media (max-width: 480px) {   /* Mobile and small screen */
    body {
        overflow-x: hidden;
    }
       
    #about-me{
        width: auto;
        align-content: center;
        text-align: center;
        margin-left: 5%;
        
    }

    #experience{
        width: 100%;
        min-width: 300px;
    }

    .one-experience{
        margin-bottom: 20px;
        width: 95%;
    }

    .experience-header{
        flex-direction: column;
        align-items: flex-end;
    }

    .experience-date{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .experience-name{
        font-size: 1rem;
        width: 100%;
        font-weight: 400;
    }


    .experience-description{
        margin: 0;
        font-size: 0.9rem;
    }

    .show-experience-btn{
        margin-left: 0;
    }

    .content-footer{
        width: auto;
        text-align: center;
    }
}
        

        

        

        

        