
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poiret+One&family=Tilt+Neon&display=swap');

/************* GENERAL SETTINGS***********/

:root {
    --color-bg: #110025;
    --color-text: #9ca3af;
    --color-a: rgb(104, 69, 145);
    --color-focus: aliceblue;
    --color-hover: #df9aff;
    --color-box-bg: rgba(255, 255, 255, 0.05);
    --color-skill-bg-hover: #f0acff22;
    --color-border: #a457e32d;
    --color-s-icon: rgba(177, 94, 255, 0.262);
    --color-progress-hover: #d57aff95;
    --color-msg-bg: rgba(39, 0, 57, 0.683);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg);
    color:var(--color-text);
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
    h2 {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 40px;
    }
    
    a {
        text-decoration: none;
        color: var(--color-a); 
        transition: all 0.3s ease; 
        padding-right: 15px;     
    }

    a:hover{
        transform: scale(1.1) translateX(15px);
        
    }
 

    .halo {
        position: fixed;
        width: 620px;  
        height: 620px;
        background: radial-gradient(circle, rgba(252, 249, 255, 0.1) 20%, rgba(0, 0, 0, 0) 80%);
        pointer-events: none; 
        border-radius: 50%;
        mix-blend-mode: screen;
        filter: blur(60px); 
        transition: transform 0.05s linear;
        transform: translate(-50%, -50%); 
    }

    #theme-toggle{
        background-color: rgba(255, 255, 255, 0);
        border: none;
        color: var(--color-focus);
        position: fixed;
        right: 3rem;
        top: 1rem;
        font-size: 1rem;
    }

    #web-page-lay-out{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        min-height: 100vh;
    }

    /************* LEFT SECTION-WIDE SCREENS***********/

        #static-container{   
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: fixed;
            width: 40vw; 
            height: 100vh;
            padding-left: 5%;
        }

            #name { 
                font-family: Monoton,"cursive";
                font-weight: lighter;
                color:var(--color-focus);
                animation: slideIn 1.5s ease-out;
                font-size: 4rem;
                margin-bottom: 0;
                padding-bottom: 0;
                margin-top: 50%;
            }
            
            #tagline{
                margin: 0;
                font-size: 1.4rem;
                font-weight: 600;
                white-space: pre-wrap;
                
            }
            
            /**** NAVEGATION ***/
            
            .nav-bar{
                display:flex;
                flex-direction: column;
                align-items: center;                
                margin: 40px 0 0 0;                                
            }

            .nav-bar a{
                margin: 4px;
                font-size: 1.3rem;
                font-weight: 500;
                transition: transform 0.3s ease;           
            }

            .nav-bar a:hover {
                transform: scale(1.2);
                color:var(--color-hover);
                font-weight: bolder;
               
                
            }

            .nav-bar a.active {
                transform: scale(1.2);
                color:var(--color-focus); 
                font-weight: bolder;                
            }

            
            /****SOCIAL MEDIA LINKS****/

            #connect{
                margin-top: auto; 
                margin-bottom: 10%;
                display: flex;   
            }
           
            
            .social-icon {
                color: var(--color-text);
                font-size: 25px;
                transition: transform 0.3s ease, color 0.3s ease;
                display: inline-block;
                margin: 3px; 
            }
            
            .social-icon:hover {
                transform: scale(1.3);
                color: var(--color-focus);
            }
                        
            
/*************::::: RIGHT SECTION SCROLLABLE:::::::***********/
        
        #scroll-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;  
            width: 55vw;
            margin-left: 45vw;
        }

            #dayana-picture{
                width: 80%;
                height: auto;
                border-radius: 0 50% 50% 0;       
                margin-left: 10%;
                padding-top: 30px;
                box-shadow: rgba(239, 236, 241, 0.313) 30px 50px 70px -40px;
                animation: floating 3s ease-in-out infinite, fadeIn 5s ease;    
            }


/********ABOUT ME SECTION*********/
           
            #about-me{
                margin-bottom:10px;
                padding-top: 80px;
                width: 70%;
                text-align:justify ;
            }

                #about-me span {
                    font-weight: 600;
                    
                }
                         
                #about-me span:hover {
                    color: var(--color-focus);
                }
                

                #about-me p{
                    font-size: 1.2rem;
                }

/********EXPERIENCE SECTION*********/
            
            #experience{
                width: 70%;
                margin-bottom: 30px;
                padding-top: 70px;
            }

                #experience-list{             
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
                
                .one-experience{
                    display: flex;
                    flex-direction: column;
                    transition: all 0.3s ease;
                    padding: 10px;               
                }

                .one-experience:hover{
                    background: var(--color-box-bg);  
                    transform: scale(1.02); 
                    backdrop-filter: blur(8px); 
                    -webkit-backdrop-filter: blur(8px);
                    border-radius: 5px;
                }
                
                    .experience-header{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 0;
                        margin: 0;
                    }

                        .experience-date{
                            margin-left: 0;
                            font-weight: 200;
                            font-size: 1rem;
                            width: 30%;
                        }

                        .experience-name{
                            margin: 0;
                            padding: 0;
                            flex-grow: 1;
                            font-size: 1.3rem;
                            color: var(--color-focus);
                        }

                        .experience-website{
                            font-style: italic;
                        }
                
                    .experience-description{
                        text-align: justify;
                        padding: 0;
                        margin-left: 30%;
                        margin-top: 0;
                        margin-bottom: 3px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        line-clamp: 3; 
                        -webkit-box-orient: vertical;
                        transition: all 0.3s ease;
                    }

                    .show-experience-btn{
                        background: none;
                        border: none;
                        color:rgb(60, 50, 62);
                        cursor: pointer;
                        font-weight: 500;
                        padding: 0;
                        width: auto-fit;
                        margin-left: 30%;
                        text-align: start;
                        transition: color 0.3s ease;

                    }

                    .show-experience-btn:hover{
                        color: rgb(115, 111, 64);
                    }
                    
                    .experience-description.expanded {
                        -webkit-line-clamp: unset;
                        line-clamp: unset;
                    }
            
            
/********SKILLS SECTION*********/

        #skills{
            width: 80%;
            margin-bottom: 10px;
            padding: 100px 0;
        }

            .skills-container {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                margin-left:20px;
                gap: 20px;
                padding: 10px;
            }
            
                .skill-card {
                    background-color: var(--color-box-bg);
                    border: 1px solid var(--color-border);
                    padding: 20px;
                    border-radius: 8px;
                    text-align: start;
                    box-shadow: 0px 4px 6px rgba(5, 5, 5, 0.5);
                    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
                }
                .skill-card:hover{
                    transform: scale(1.05);
                    color:var(--color-focus);
                    background-color:var(--color-skill-bg-hover);
                }
            
                    .icon {
                        font-size: 50px;
                        margin-bottom: 10px;
                        color:var(--color-s-icon);
                        text-align: end;
                    }
                    .skill-card:hover .icon {
                        color: var(--color-hover);
                        text-shadow: 0 0 2px var(--color-hover), 0 0 6px var(--color-hover);
                    }
                
                    .skill-name {
                        font-size: 1.7rem;
                        margin-bottom: 10px;
                        font-weight: 500;
                        
                    }

                    .skill-card ul{
                        padding: 0;
                        margin: 0;
                    }

                    .skill-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 5px;
                        margin: 0 0 5px 0;
                        padding: 0;
                    }
                    .progress-bar-inline {
                        background-color:#333;
                        border-radius: 5px;
                        height: 8px;
                        flex-grow: 1;
                        max-width: 140px; 
                        overflow: hidden;
                    }
                    
                    .progress-inline {
                        background-color: var(--color-s-icon);
                        height: 100%;
                        border-radius: 5px 0 0 5x;
                        transition: width 0.4s ease;
                    }
                    .skill-card:hover .progress-inline {
                        background-color: var(--color-progress-hover);  
                    }
            
/********PROJECTS SECTION*********/
            
        #projects{
             margin: 10%;
             padding-top: 70px;
        }
            .projects-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
                gap: 1.5rem;
                margin-top: 40px;
            }

                .repo-card {
                display: flex;
                flex-direction: row;
                background: var(--color-box-bg);  
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
                min-height: 150px;
                }
    
                    .repo-image {
                    width: 20%;
                    object-fit: cover;
                    max-height: 150px;
                    height: 100%;
                    filter: sepia(3) hue-rotate(203deg) saturate(2);
                    transition: all 0.3s ease; 
                    }
                    .repo-card:hover .repo-image {
                    filter: none; 
                    width: 45%;
                    max-width: min-content;                    
                    }
                
                    .repo-info {
                    padding: 1rem;
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    }
                    .repo-info p {
                    flex-grow: 1;
                    margin: 0 0 0.5rem 0;
                    }
                    .repo-card:hover .repo-info a {
                    color: #9df;            
                    }
                    .repo-info a span {
                    font-size: 20px;
                    font-family: 'Courier New', Courier, monospace;
                    }

        .mess-sec-btn{
            background-color: var(--color-box-bg);
            color: var(--color-text);
            display: block;
            margin: auto;
            padding: 10px;
            font-size: 1.3rem;
            border-radius: 10px;
            border: var(--color-border) solid 1px ;
            box-shadow: 0px 4px 6px rgba(5, 5, 5, 0.5);
        }
        
        .mess-sec-btn:hover {
            color: var(--color-hover);
            text-shadow: 0 0 2px var(--color-hover), 0 0 6px var(--color-hover);
            background-color: var(--color-msg-bg);
            transform: scale(1.1);
        }

/********LEAVE A MESSAGE SECTION*********/
    #message-container {
        display: none;
        gap: 1rem;
        animation: fadeIn 0.5s ease-in; 
        margin: 0 5%;         
    }
    #message-container.show {
        display: flex;
        margin-bottom: 80px;
        padding-top: 100px;
    }
             
        .left-panel,
        .right-panel {
        flex: 1;
        opacity: 0;               
        transform: translateY(10px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        }
        
        .left-panel.show,
        .right-panel.show {
        opacity: 1;
        transform: translateY(0);
        }
        
    
        

            form input,
            form textarea {
            width: 90%;
            margin-bottom: 10px;
            border-radius: 5px;
            padding: 10px;
            border: 1px solid var(--color-border);
            background-color: var(--color-box-bg);
            }
            
            form input:focus,
            form textarea:focus {
            outline: none;
            border-color: var(--color-hover);
            background-color: var(--color-a);
            color: var(--color-focus);
            }

            #submit-form{
                width: 50%;
                margin-bottom: 70px;
            }


        #message-container h2 {
        height: 70px;
        margin-bottom:0 ;
        font-size: 1.8rem;
        }

            .msg{
            background-color: var(--color-msg-bg);
            color: var(--color-focus);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            border-radius: 15px 15px 15px 0;
            max-width: 100%;
            position: relative;
            margin: 20px 3px 3px 3px;
            box-shadow: 0px 4px 6px rgba(5, 5, 5, 0.5);
            }

            .displayed-message{
            display: flex;
            flex-direction: column;
            max-width: 90%;
            overflow-wrap: break-word; 
            word-break: break-word;
            
            }

                
            .msg-btn {
                background-color: rgba(255, 255, 255, 0);
                border: none;
                position: absolute;
                top: 5px; 
                right: 10px;
                margin-left: 5px; 
                color: var(--color-text);
                }

                    .msg-btn.edit{
                    right: 40px;
                    }

                 
                  
                      
    #connect2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

        .content-footer{
            color: rgb(60, 56, 51);
            font-size: 1.2rem;
            margin-bottom: 10px;
        }


        .hamburger,
        .mobile-nav{
            display: none;
        }



/********KEY-FRAMES*********/

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 2;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}







/********MEDIA QUERIES*********/

 /* Tablets and smaller devives */           
@media (max-width: 1366px) {  
    
    #web-page-lay-out{
        grid-template-columns: 1fr;
    }

    #static-container{   
        position: relative;
        width: 100%;
        height: auto;
        align-items: center;
        padding: 0;
    }

    #scroll-container{
        margin: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .hamburger {
        display: block;
        font-size: 2rem;
        background: none;
        border: none;
        color: var(--color-focus);
        position: fixed;
        top: 0.2rem;
        right: 0.2rem;
        z-index: 999;
        cursor: pointer;
      }

      .mobile-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: auto;
        background: rgba(30, 26, 34, 0.335);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
        z-index: 999;
      }
    
      .mobile-nav a {
        color: var(--color-focus);
        font-size: 1.3rem;
        text-decoration: none;
      }
    
      .mobile-nav a:focus {
        color: var(--color-hover);
        font-size: 25px;
        font-weight: 600;
        }
    
      
      .mobile-nav.show {
        transform: translateX(0);
      }
    
      .close-btn {
        align-self: flex-end;
        font-size: 2rem;
        background: none;
        border: none;
        color: var(--color-focus);
        cursor: pointer;
        margin-bottom: 1rem;
      }


    #name{
        margin-top: 10%;
        font-size: 3rem;
    }

    .nav-bar{
        display:none;
    }

    #experience{
        min-width: 500px;
    }

    #skills{
        width: 95%;
    }
    .skills-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin: 0;
      
    } 

    
    
    #projects{
        margin: 0 2% 100px 2% ;
    }

    #message-container{
        margin: 0;
        padding: 0;
    }

    #messages{
        padding-left: 0;
    
    }
    #messages ul{
        margin: 0;
        padding: 0;
        width: 100%;
    }
  


    #connect{
        display:flex;
        justify-content: center;
        align-items: center; 
        margin-top: 70px;   
    }

}





/* Mobile and smaller screen */
@media (max-width: 480px) {   
    body {
        overflow-x: hidden;
    }

    #theme-toggle{
        
        margin-right: 1rem;
    }
       
    #about-me{
        width: auto;
        align-content: center;
        text-align: center;
        margin: 1%;
        
    }

    #experience{
        width: 100%;
        min-width: 300px;
    }

    .one-experience{
        margin-bottom: 20px;
        width: 95%;
    }

    .experience-header{
        flex-direction: column;
        align-items: flex-end;
    }

    .experience-date{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .experience-name{
        font-size: 1rem;
        width: 100%;
        font-weight: 400;
    }


    .experience-description{
        margin: 0;
        font-size: 0.9rem;
    }

    .show-experience-btn{
        margin-left: 0;
    }
    
    .skills-container {
        grid-template-columns: 1fr;
    
 }
 
 
 
    #connect2{
    width: 90%;
 }

 #message-container{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
 }
    #message-container.show {
        flex-direction: column;
        margin-bottom:0 10% 30px 0;
        width: 100%;
       

        
    }
    #message-form{
        display: flex;
        flex-direction: column;
        padding: 0;
        max-width: 300px;
    }

   
    #messages{
        width: 80%;
        margin: 0;
        padding: 0;
    }

    #messages h2{
        margin: 5px;
        height: auto;
    }

    .content-footer{
        width: auto;
        text-align: center;
    }
}