@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    background-color: #110025;
    color:#9ca3af;
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    .halo {
        position: fixed;
        width: 620px;  
        height: 620px;
        background: radial-gradient(circle, rgba(252, 249, 255, 0.1) 20%, rgba(0, 0, 0, 0) 80%);
        pointer-events: none; 
        border-radius: 50%;
        mix-blend-mode: screen;
        filter: blur(60px); 
        transition: transform 0.05s linear;
        transform: translate(-50%, -50%); 
        }

    #web-page-lay-out{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100vh;
        }

        #static-container{   
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: fixed;
            width: 40vw; 
            height: 100vh;
            }

            h1 { 
                font-family: Monoton,"cursive";
                font-weight: lighter;
                color:white;
                animation: slideIn 1.5s ease-out;
                font-size: 4rem;
                margin-bottom: 0;
                padding-bottom: 0;
                margin-top: 50%;
              }
            
            #tagline{
                margin: 0;
                font-size: 1.4rem;
                font-weight: 600;
                }

            .nav-bar{
                display:flex;
                flex-direction: column;
                }
                
            footer{
                margin-top: auto;
                margin-bottom: 0;    
                }

            a{
                text-decoration: none;
                }

            .social-icon {
                color: #9ca3af;
                font-size: 25px;
                }

            .connect-icons{
                display: flex;
                gap: 10px;
                }

            .connect-icons a {
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                }
                        
            .connect-icons a:hover {
                transform: scale(1.2);
                color: aliceblue;    
                }


        #scroll-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;  
            width: 60vw;
            margin-left: 40vw;
            }

            #dayana-picture{
                width: 100%;
                height: auto;
                border-radius: 0 50% 50% 0;   
                margin-top: 20px;
                padding-top: 30px;
                box-shadow: rgb(239, 236, 241) 30px 50px 70px -40px;
                animation: floating 3s ease-in-out infinite;    
            }

            #profile-picture{
                margin: 10%;
                }

            #about-me{
                margin:15px;
                width: 70%;
                text-align:justify ;
                }
            #experience{
                width: 70%;
            }

            #experience-list{
                margin-left: 0;
            }
            
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
            }
            
            .one-experience{
                display: flex;
                flex-direction: column;
                transition: background 0.3s ease, backdrop-filter 0.3s ease;
                padding: 10px;
                
            }

            .one-experience:hover{
                background: rgba(255, 255, 255, 0.05);
                backdrop-filter: blur(8px); 
                -webkit-backdrop-filter: blur(8px);
                border-radius: 5px;
            }
            .experience-header{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: 0;
                margin: 0;
            }

            .experience-date{
                margin-left: 0;
                font-weight: 200;
                font-size: 1rem;
                width: 30%;
            }

            .experience-name{
                margin: 0;
                padding: 0;
            }
        
            .experience-description{
                text-align: justify;
                padding: 0;
                margin-left: 30%;
                margin-top: 0;
                }

        @keyframes slideIn {
            from {
            transform: translateX(-100%);
            opacity: 0;
            }
            to {
            transform: translateX(0);
            opacity: 2;
            }
        }

        @keyframes floating {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-20px);
            }
            100% {
                transform: translateY(0);
            }
        }
        
        
        
        

        

        

        

        